development:
  adapter: mysql2
  database: screams_development
  pool: 5
  username: 
  password: 

test:
  adapter: mysql2
  database: screams_test
  pool: 5
  username: 
  password: 

production:
  adapter: mysql2
  database: screams_production
  pool: 5
  username: 
  password: 
